#root {
  width: 500px;
  height: 80vh;
  background-color: bisque;
  position: relative;
}
img {
  width: 500px;
  height: 95vh;
  position: absolute;
  z-index: 1;
}
button {
  width: 100px;
  height: 50px;
  position: absolute;
  z-index: 2;
}
